@model Spotify.Models.Tarjetum

@{
    ViewData["Title"] = "Crear Tarjeta";
}

<h1>Añadir Tarjeta</h1>

<h4>Tarjeta</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" name="idUsuario" value="@Model.IdUsuario" />
            
            <div class="form-group">
                <label asp-for="NombreTarjeta" class="control-label">Nombre de la Tarjeta</label>
                <input asp-for="NombreTarjeta" class="form-control" placeholder="Nombre de la Tarjeta" />
                <span asp-validation-for="NombreTarjeta" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="NumeroTarjeta" class="control-label">Número de Tarjeta</label>
                <input asp-for="NumeroTarjeta" class="form-control" placeholder="Número de Tarjeta" />
                <span asp-validation-for="NumeroTarjeta" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="FechaExpiracion" class="control-label">Fecha de Expiración</label>
                <input asp-for="FechaExpiracion" class="form-control" placeholder="MM/AA" />
                <span asp-validation-for="FechaExpiracion" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Cvv" class="control-label">CVV</label>
                <input asp-for="Cvv" class="form-control" placeholder="CVV" />
                <span asp-validation-for="Cvv" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-primary my-3" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Details" asp-controller="Usuarios" asp-route-id="@Model.IdUsuario" class="btn btn-secondary">Volver</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
