@model Spotify.Models.SubirCancionViewModel

@{
    ViewData["Title"] = "Subir Canción";
    int idArtista = ViewBag.IdArtista;
    int idAlbum = ViewBag.IdAlbum;
}

<h1>@ViewData["Title"]</h1>

<form asp-action="Subir" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label for="cancion">Seleccionar canción:</label>
        <input type="file" class="form-control-file" id="cancion" name="cancion">
    </div>
    <div class="form-group">
        <label for="duracion">Duracion:</label>
        <input type="text" class="form-control" id="duracion" name="duracion">
    </div>
   <div class="form-group">
        <input type="hidden" class="form-control" id="idArtista" name="idArtista" value="@idArtista" readonly>
    </div> 
    <div class="form-group">
        <input type="hidden" class="form-control" id="idAlbum" name="idAlbum" value="@idAlbum" readonly>
    </div>
    <div class="form-group mb-3">
        <label for="nombreCancion">Nombre de la Canción:</label>
        <input type="text" class="form-control" id="nombreCancion" name="nombreCancion">
    </div>
    <button type="submit" class="btn btn-success">Subir Canción</button>
    
</form>
<a asp-controller="Albums" asp-action="Details" asp-route-id="@idAlbum" class="btn btn-info my-3">Cancelar</a>